# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Flask
instance/
.webassets-cache

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Cache
.cache/

# Build files
dist/
build/

# Temporary
temp/